<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPinXpzJzppLdkLCtoMtu9hTgQ4NEGgxs</string>
	<key>GCM_SENDER_ID</key>
	<string>656543648990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moboshop</string>
	<key>PROJECT_ID</key>
	<string>mobotech-f67a7</string>
	<key>STORAGE_BUCKET</key>
	<string>mobotech-f67a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656543648990:ios:d461f3fa07929bd630864f</string>
	<key>DATABASE_URL</key>
	<string>https://mobotech-f67a7-default-rtdb.firebaseio.com</string>
</dict>
</plist>